/* Adding default styles and a background and a font-family to the body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./images//bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}
/* Styling the navbar */
.navbar{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2.8rem;
}
/* Styling the list of the navbar */
.nav_ul{
    display: flex;
    align-items: center;
    gap: 47px;
    font-size: 1.01rem;
    cursor: pointer;
    font-weight: 500;

}
/* Styling the list item which contains the logo */
.logo_list_item{
    border-right: 2px solid #ffffff;
    padding: 0 2.8rem 0 0;
}
/* Styling the logo */
.logo{
    width: 100px;
    cursor: pointer;
}
/* Styling all the buttons */
button{
    background-color:#c500d3;
    color: #ffffff;
    border-radius: .5rem;
    padding: .7rem 1.4rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
/* Styling the button of navbar */
.nav_button{
    font-size: 1.03rem;
}
/* Styling the main section */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
    padding: 6rem 23rem;
}
/* Styling the first heading */
main .h1{
    font-size: 4.4rem;
    line-height: 5.5rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
/* Styling the 2nd heading */
main .h2{
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 600;
}
/* Styling the button of main section */
.mainBtn{
    margin-top: 40px;
    font-size: 1.4rem;
    padding: 0.8rem 1.1rem;
}

