/* Adding default styles and a background and a font-family to the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}
/* Styling all the buttons */
button {
  background-color: #c500d3;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
button:hover {
  color: #c500d3;
  background-color: #ffffff;
  border: 1px solid #c500d3;
}
@media screen and (min-width: 320px) {
  /* Styling the header */
  header {
    text-align: center;
  }
  /* Styling the navbar */
  .navbar {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.3rem;
  }
  /* Styling the list of the navbar */
  .nav_ul {
    margin-top: 2.5rem;
    margin-left: -5rem;

    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    font-size: 0.85rem;
    cursor: pointer;
    font-weight: 500;
  }
  /* Styling the list item which contains the logo */
  .nav_ul > li:first-child {
    display: none;
    border-right: 2px solid #ffffff;
    padding: 0 2.8rem 0 0;
  }

  /* Styling the logo */
  .logo {
    width: 6rem;
    cursor: default;
  }
  /* Styling the button outside of the list */
  .buyToken {
    display: none;
  }

  /* Styling the menu icon */
  .navbar > .menu {
    display: flex;
    padding: 0.3rem;

    font-size: 1.5rem;
    border: 1px solid #ffff;
    border-radius: 0.4rem;
  }
  /* Styling the button of navbar */
  .nav_button {
    font-size: 0.9rem;
    padding: 0.5rem 0.9rem;
  }

  /* Styling the main section */
  main {
    margin-top: 5.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2.5rem 3.5rem;
  }
  /* Styling the first heading */
  main .h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  /* Styling the 2nd heading */
  main .h2 {
    font-size: 1.3rem;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
  }
  /* Styling the button of main section */
  .mainBtn {
    margin-top: 1.4rem;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
  }
}

@media screen and (min-width: 425px) {
  /* Styling the list of the navbar */
  .nav_ul {
    font-size: 0.9rem;
  }
  /* Styling the first heading */
  main .h1 {
    font-size: 3.3rem;
    line-height: 3.9rem;
  }
  /* Styling the button of navbar */
  .nav_button {
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
  }

  /*Styling the main section */
  /* Styling the button of main section */
  .mainBtn {
    margin-top: 1.4rem;
    font-size: 1.12rem;
    padding: 0.9rem 1rem;
  }
}

@media screen and (min-width: 550px) {
  /* Styling the list of the navbar */
  .nav_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
  }
  /* Styling the logo */
  .logo {
    width: 8rem;
    cursor: default;
  }
  /* Styling the button of navbar */
  .nav_button {
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
  }

  /* Styling the first heading */
  main .h1 {
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  /* Styling the 2nd heading */
  main .h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
  }
  /* Styling the button of main section */
  .mainBtn {
    margin-top: 1.4rem;
    font-size: 1.25rem;
    padding: 0.9rem 1rem;
  }
}

@media screen and (min-width: 800px) {
  /* Styling the list of the navbar */
  .nav_ul {
    margin-top: 5.5rem;
    margin-left: -9rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
  }
  /* Styling the logo */
  .logo {
    width: 8rem;
    cursor: default;
  }
  /* Styling the button of navbar */
  .nav_button {
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
  }
}

@media screen and (min-width: 910px) {
  /* Styling the navbar */
  .navbar {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  /* Styling the list of the navbar */
  .nav_ul {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
  }
  /* Styling the menu icon */
  .navbar > .menu {
    display: none;
  }

  /* Styling the list item which contains the logo */
  .nav_ul > li:first-child {
    display: initial;
    border-right: 2px solid #ffffff;
    padding: 0 2.8rem 0 0;
    margin-left: -30px;
  }
  /* Styling the logo */
  .logo_span {
    display: none;
  }

  /* Styling the logo */
  .logo {
    width: 6rem;
    cursor: default;
  }

  li:nth-child(7) {
    display: none;
  }
  /* Styling the button of navbar */
  .nav_button {
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
  }
  /* Styling the button outside of the list */
  .buyToken {
    display: initial;
  }
}

@media screen and (min-width: 990px) {
  .nav_ul li:nth-child(2){
    margin-left: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
    /* Styling the navbar */
    .navbar {
      padding: 1.5rem 2rem;
    }
  /* Styling the list of the navbar */
  .nav_ul {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
  }

 
  /* Styling the logo */
  .logo {
    margin-left: .9rem;
    width: 8rem;
    cursor: default;
  }
  /* Styling the first heading */
  main .h1 {
    width: 46.8rem;
  }
}
