body{
    /* Applying default style on body */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling the button container div */
.buttonContainer{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling the button */
button{
    padding: 0.5rem;
    background-color: green;
    color: white;
    border:2px solid white;
    border-radius: .5rem;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
}