form{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

form label{
    font-size: 1.3rem;
    font-weight: bold;
}

#car{
    font-size: 1.15rem;
    padding: .5rem;
}

input[type="number"]{
    font-size: 1.15rem;
    padding:.5rem;
}

button{
    padding:.4rem;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    outline:none;
    font-size: 1.14rem;
}
#para{
    font-size: 1.5rem;
}