/* Adding some default styles and a background-color to body */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111827;
}
a{
  text-decoration: none;
  color: #fff;
  outline: none;
}


/* For minimum screen-size 280px */

@media (min-width: 280px) {
  /* Styling the navigation bar */
  .navbar {
    color: #fff;
    background-color: #111827;
    padding: 1rem 1.5rem;
  }
  /* .nav_ul {
    display: none;
  } */

  .nav_ul {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 10px;
  }
  .nav_ul li {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
  }

  .nav_ul li:hover {
    background-color: #712be2;
    border: none;
    border-radius: 0.6rem;
    color: #ffffff;
  }
  .hamburger {
    width: 40px;
    cursor: pointer;
  }
  /* Styling the hero-section */
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
  }
  /* Styling the left section of the hero section */
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2rem;
    text-align: center;
  }
  .left .span,
  .left .h1 {
    color: #ffffff;
  }
  .left > .span {
    font-size: 2rem;
    line-height: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-weight: 600;
  }
  .left > .h1 {
    font-weight: bold;
    font-size: 3.4rem;
  }
  .left > .h2 {
    color: #b8860b;
    font-weight: 700;
    font-size: 2.2rem;
  }
  .waving-hand {
    width: 40px;
  }
  /* Styling the right section of the hero section */
  .right {
    flex: 1;
    width: 110%;
  }
  .right-section-photo {
    width: 100%;
  }
  /* Styling the projects section */
  .projects {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
  }
  .projects h2 {
    font-size: 2.22rem;
    border-bottom: 7px solid #0000ff;
  }
  /* Styling each section of the projects section */
  .projects section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* Styling each project div */
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project img {
    width: 200px;
    cursor: pointer;
  }
  /* Styling the footer */
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 4.8rem;
    color: #ffffff;
  }
  .footer-section h2 {
    font-size: 2.22rem;
    border-bottom: 7px solid #0000ff;
    text-align: center;
  }
  /* Styling the contact-links section of the footer */
  .contact_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .contact_links img {
    width: 30px;
    cursor: pointer;
  }
}

/* For minimum screen-size 500px */

@media (min-width: 500px) {
  /* Styling the navbar */
  .hamburger{
    display: none;
  }
  .navbar {
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .nav_ul li {
    padding: 0.4rem 0.8rem;
  }
}

/* For minimum screen-size 768px */

@media (min-width: 768px) {
  /* Styling the hero section */
  .hero-section {
    flex-direction: row;
  }
  /* Styling the left section of the hero section */
  .left {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .left > .span {
    flex-direction: row;
  }
  /* Styling each section inside the projects section */
  .projects section {
    flex-direction: row;
    gap: 33px;
  }
}

/* For minimum screen-size 1024px */

@media (min-width: 1024px) {
  /* Styling the navigation bar */
  .navbar {
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .hamburger {
    width: 40px;
    cursor: pointer;
    display: none;
  }

  /* Styling the hero section */
  .hero-section {
    flex-direction: row;
  }
  /* Styling the left section of the hero section */
  .left {
    flex: 1;
    padding: 0 2rem 0 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .left > .h1 {
    font-size: 4.5rem;
  }

  .left > .h2 {
    font-size: 2.5rem;
  }

  /* Styling the projects section */
  .projects {
    flex-direction: column;
  }
  /* Styling each section inside the projects section */
  .projects section {
    flex-direction: row;
    gap: 40px;
  }
  /* Styling the image of each project div */
  .project img {
    width: 400px;
    cursor: pointer;
  }
}
