/* Adding some  default styles */
body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/pexels-maxyne-barcel-104022821.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Red Rose", 'cursive';
}
a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover{
  text-decoration: underline;
}

li{
  list-style: none;
}

/* Styling all the buttons */
button {
  background-color: #fc3a5a;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: bold;
  font-family: "Red Rose", cursive;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #fc3a5a;
}



/* Styling at screen width 320px min. */

@media screen and (min-width:320px){

/* Styling the navbar */
.navbar {
position: sticky;
top:0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  /*making blurr effect with background color */
  background-color:rgb(95 81 81 / 40%);

}
/* Styling the logo */
.logo_img {
  cursor:default;
  width: 8rem;
}
/* Styling the list inside of the navbar */
.nav-list {
  position: absolute;
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 20px;
  color: #f7c308;
  font-size: 1rem;
  font-weight: 600;
   
  top:46px;
  right:26px;
   padding:1rem 1.4rem;
   border:1px solid transparent;
   border-radius: .5rem;
   box-shadow: 5px 9px 10px #222222 , -4px -8px 10px #2f2f2f ;

  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);
}
/* Styling every list item of the nav-list */
.nav-list li {
  cursor: pointer;
}
/* Styling the menu bar */
.menu_bar{
  font-size: 1.4rem;
  padding:.3rem .5rem;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: .5rem;
}
.fa-caret-down{
  padding:.3rem .7rem;
}
/* Styling the button outside the nav-list */
.outside-btn{
  display: none;
}

/* styling all the buttons */
button{
  padding: .6rem 1.5rem;
  font-size: 1.1rem;
}

/* Styling the main section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 20px;


  margin-bottom: 8rem;
}
/* Styling the h1 tag of main */
main > h1 {
  color: #f7c308;
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 1px;
  line-height: 2.9rem;
  width: 87%;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
}

/* Styling the footer section */
footer {
  position: relative;
}
/* Styling the scroll-image of the footer */
footer > .scroll_img {
  position: absolute;
bottom:0;
width: 6rem;
right:2px;

}



}


/* Styling at screen width 375px min. */

@media screen and (min-width:375px){
  /* Styling the scroll-image of the footer */
footer > .scroll_img {
margin-left: 17rem;

}
}
@media screen and (min-width:435px){

/* Styling the list inside of the navbar */
.nav-list {
  position: absolute;
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 20px;
  color: #f7c308;
  font-size: 1.11rem;
  font-weight: 600;
}
/* styling all the buttons */
button{
  padding: .6rem 1.5rem;
  font-size: 1.2rem;
}
/* Styling the h1 tag of main */
main > h1 {
  
  font-size: 2.2rem;
  letter-spacing: 2px;
  line-height: 3.1rem;
  width: 90%;
  
}
}
@media screen and (min-width:550px) {
  /* Styling the list inside of the navbar */
.nav-list {
  position: relative;
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #f7c308;
  font-weight: 600;
   
  top:0;
  right:0;
  margin-top:5.5rem;
  margin-left: -6rem;
   padding:0;
   border:none;
   border-radius:none;
   box-shadow: none ;

  backdrop-filter:none;
  -webkit-backdrop-filter:none;
}
/* Styling the button in .nav-list */

.nav-list > button{
  margin-right: -2rem;
}
/* Styling the h1 tag of main */
main > h1 {
  
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 3.6rem;
  width: 90%;
  
}
}

@media screen and (min-width:700px) {
  /* Styling the navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1rem;
}
/* Styling the logo */
.logo_img {
  cursor:default;
  width: 9rem;
}
   /* Styling the list inside of the navbar */
.nav-list {
  position: relative;
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #f7c308;
  font-size: 1.2rem;
  font-weight: 600;
   
  top:0;
  right:0;
  margin-top:5.5rem;
  margin-left: -6rem;
   padding:0;
   border:none;
   border-radius:none;
   box-shadow: none ;

  backdrop-filter:none;
  -webkit-backdrop-filter:none;
}

/* styling all the buttons */
button{
  padding: .9rem 2.2rem;
  font-size: 1.3rem;
}


/* Styling the button in .nav-list */

.nav-list > button{
  margin-right: -2rem;
}
/* Styling the h1 tag of main */
main > h1 {
  
  font-size: 3.5rem;
  letter-spacing: 3px;
  line-height: 4.6rem;
  width: 90%;
  
}
}

@media screen and (min-width:899px){

   /* Styling the navbar */
.navbar {
position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 2rem ;

  background-color: transparent;
}
   /* Styling the list inside of the navbar */
.navbar > .nav-list {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items:center;
  gap: 40px;
  color: #f7c308;
  font-size: 1.2rem;
  font-weight: 600;
   
  top:0;
  right:0;
  margin-top:1rem;
  margin-left: inherit;
   padding:0;
   border:none;
   border-radius:none;
   box-shadow: none ;

  backdrop-filter:none;
  -webkit-backdrop-filter:none;
}
/* Styling the button outside of the li and inside the li */
.outside-btn{
  display: block;
}
.nav-list > button{
  display: none;
}
  /* Styling the menu bar */
.navbar > .menu_bar{
  display: none;
}

  /* Styling the h1 tag of main */
main > h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 4.77rem;
  width: 90%;
  
}
/* Styling the main button */
.mainBtn{
  margin-top: -2rem;
}
}
@media screen and (min-width:1000px){
  /* Styling the h1 tag of main */
main > h1 {
  width: 80%;
  
}

/* Styling the scroll-image of the footer */
footer > .scroll_img {
  position: absolute;
bottom:0;
width: 8.5rem;
right:2px;

}
}

@media screen and (min-width:1200px){
  /* Styling the h1 tag of main */
main > h1 {
  width: 65%;
  
}}
@media screen and (min-width:1400px){
  /* Styling the h1 tag of main */
main > h1 {
  font-size: 5rem;
  letter-spacing: 4px;
  line-height: 5.8rem;
  
}
/* Styling the scroll-image of the footer */
footer > .scroll_img {
  position: absolute;
bottom:0;
width: 9.5rem;
right:2px;

}
}





/* Styling the navbar */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.7rem;
} */
/* Styling the logo */
/* .logo_img {
  cursor:default;
  width: 150px;
} */
/* Styling the list inside of the navbar */
/* .nav-list {
  display: flex;
  color: #f7c308;
  gap: 72px;
  font-size: 1.11rem;
  font-weight: 600;
} */
/* Styling every list item of the nav-list */
/* .nav-list li {
  cursor: pointer;
} */
/* Styling the menu bar */
/* .menu_bar{
  font-size: 1.5rem;
} */
/* Styling the main section */
/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 40px;
} */
/* Styling the h1 tag of main */
/* main > h1 {
  color: #f7c308;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 4px;
  line-height: 5.66rem;
  width: 65%;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
} */
/* Styling all the buttons */
/* button {
  background-color: #fc3a5a;
  color: #ffffff;
  margin-top: -2.8rem;
  padding: 0.9rem 2.2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Red Rose", cursive;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #fc3a5a;
} */
/* Styling the footer section */
/* footer {
  position: relative;
} */
/* Styling the scroll-image of the footer */
/* footer > .scroll_img {
  position: absolute;
  right: 0px;
  width: 150px;
} */
