/* Adding some default styles and text-align to the body */
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;

}
/* Styling the h1 | main heading */
h1{
   font-size: 3.5rem;
}
/* hiding the second-heading for 320px to 424px screen-size */
@media(min-width:320px){
   h2{
      display: none;
   }
   
}

/* Styling the body and second heading for 425px screen-size */
@media(min-width:425px){
   body{
      background-color: #dc143c;
   }
   h2{
      display: initial;
   }
   .one{
      display: initial;
   }
   .two,.three,.four{
      display: none;
   }
   
}
/* Styling the body and second heading for 768px screen-size */
@media(min-width:768px){
   body{
background-color: #00ffff;
   }
   .two{
      display: initial;
   }
   .one,.three,.four{
      display: none;
   }
}
/* Styling the body and second heading for 1024px screen-size */
@media(min-width:1024px){
   body{
background-color:#b08724;
   }
   .three{
      display: initial;
   }
   .one,.two,.four{
      display: none;
   }

}
/* Styling the body and second heading for 1440px screen-size */
@media(min-width:1440px){
   body{
background-color: #008000;
   }
   .four{
      display: initial;
   }
   .one,.two,.three{
      display: none;
   }
}
/* Styling the body and second heading for screen-sizes above 1440px */
@media(min-width:1450px){
   body{
background-color: #00ffff;
   }
  h2{
   display: none;
  }
}


