.container{
    width: 30%;
   text-align: center;
   background-color: blue;

   margin: 4rem auto auto auto;
    padding: 1rem ;
    border: 1px solid grey;
    border-radius: .5rem;

    font-family: sans-serif;
   } 
   .container h2{
    font-size: 2rem;
    color: cyan;
   }
  