.add-todo{
     margin: auto;
    font-size: 1.2rem;
    font-weight: 750;
    padding: 0;
   
    background-color: transparent;
   
    border: none;
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.add-todo>.plus-icon{
  font-size: 2rem;
 

}