/* Adding default styles and font-family to the body */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Styling the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 3.8rem 2.5rem 3.8rem;
}
/* styling the nav-ul list and list-items of the navbar */
.nav-ul {
  display: flex;
  gap: 40px;
  align-items: center;
  
}
.nav-ul li{
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
/* Styling the logo */
.logoImg{
  width: 150px;
}
/* Styling the main section */
main{
    display: flex;
    padding:0rem 3.8rem;
   
}
/* Styling the right-section and its image */
.right{
  width: 110%;
  display: flex;
  align-items: flex-start;
}
.right img{
  width: 100%;
}
/* Styling the left section */
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding:4.5rem  2rem;
    
}
/* Styling the headings and the paragraph of left-top-div */
.left-top-div .h1{
    font-size: 3.8rem;
   width: 70%;
   color:#3a0868;
   font-weight: 600;
   
}
.left-top-div p{
    text-align: start;
    color: #808080;

}
.left-top-div  .span{
    color:#691ab4;
}
/* Styling all the buttons */
button{
    background-color: #6513b7;
    color: #ffffff;
    cursor: pointer;
    border-radius: .77rem;
    border: none;
    outline: none;
    padding: .99rem 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}