/* Adding default styles and font-family to the body */
body {
  position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  li{
    list-style: none;
  }
  
  /* Styling all the buttons */
  button {
    background-color: #6513b7;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.77rem;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    padding: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size:inherit;
  }
  button:hover {
    color: #6513b7;
    background-color: #ffffff;
    border: 2px solid #6513b7;
  }


  @media screen and (min-width: 320px) {
    /* Styling the navbar */
  .navbar {
    position: sticky;
    top:0;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: .9rem  1.2rem;

/* Creating blurr effect using background-color */
    background-color:rgb(255 253 253 / 40%);

  }
  /* styling the nav-ul list and list-items of the navbar */
  .nav-ul {
    position: absolute;
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
  
      top:53px;
      right:40px;
       padding:1rem 1.22rem;
       border:1px solid transparent;
       border-radius: .5rem;
       box-shadow:2px 5px 12px #222222, -1px -3px 12px #2f2f2f;
    
      backdrop-filter:blur(20px);
      -webkit-backdrop-filter:blur(20px);
  }
  .nav-ul li{
      font-size: .9rem;
      font-weight: 600;
      cursor: pointer;
  }
  /* Styling the logo */
  .logoImg{
    width:6.5rem ;
    margin-right: 1.2rem;
    cursor: default;
  }
  .nav-ul li:first-child{
    display: none;
    cursor: default;
  }
  /* Styling all the buttons  */
   button{
    padding: 0.7rem 1.2rem;
  }
  /* Styling the button outside the list */
  .outside-btn{
    display: none;
  }
    /* Styling the menubar */
    .menu_bar {
      font-size: 1.4rem;
      font-weight: bold;
      padding: 0.4rem 0.5rem;
      border: 2.5px solid #6513b7;
      border-radius: 0.5rem;
    }
  
    .fa-caret-down{
      padding: 0.4rem 0.77rem;
    }
  
  
    /* Styling the main section */
  main{
      display: flex;
      flex-direction: column;
      padding:0rem 2.8rem;
     
  }
  /* Styling the right-section and its image */
  .right{
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }
  .right img{
    width: 90%;
  }
  /* Styling the left section */
  .left{
      display: flex;
      flex-direction: column;
      gap: 20px;
      /* align-items: flex-start; */
     align-items: center;
      padding:4.5rem  1rem;
      
  }
  /* Styling the left-top-div */
  .left-top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left-top-div .h1{
      font-size: 1.5rem;
      line-height: 2.5rem;
     width: 70%;
     color:#3a0868;
     font-weight: 600;
     
  }
  .left-top-div p{
      text-align: center;
      font-size: .9rem;
      color: #808080;
  
  }
  .left-top-div  .span{
      color:#691ab4;
  }
  }

  @media screen and (min-width:450px) {
    .left-top-div .h1 {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    .left-top-div p {
      text-align: center;
      font-size: 1rem;
      color: #808080;
    }

    .logoImg {
      width: 7.5rem;
      margin-right: 1.2rem;
      cursor: default;
  }
  }

  @media screen and (min-width:650px) {
    .logoImg {
      width: 8.5rem;
      margin-right: 1.2rem;
      cursor: default;
  }
    
  .left-top-div 
  .h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }
   .left > button{
    margin-top: 1rem;
    font-size: 1.1rem;
   }
  .nav-ul li{
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
  }
  }

  @media screen and (min-width:760px) {
     .left-top-div .h1{
  font-size: 3.8rem;
  line-height: 4.8rem;

 
} 
 /* Styling the right-section and its image */
 .right{
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.right img{
  width: 70%;
}

button{
  padding: 0.99rem 1.8rem;
}
    
  }

  @media screen and (min-width:950px) {

  .outside_img{
    display: none;
    }
 .navbar > .menu_bar , .navbar > .outside , .navbar > .fa-caret-down{
  display: none;
 }

 .logoImg {
  width: 9rem;
}
  .navbar {
    position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 3.8rem 2.5rem 3.8rem;
}
    .nav-ul {
      position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;

  top:0px;
  right:0px;
   padding:0;
   border:none;
   border-radius: .5rem;
   box-shadow:0px 0px 0px #222222, 0px 0px 0px #2f2f2f;

  backdrop-filter:blur(0px);
  -webkit-backdrop-filter:blur(0px);
  
}
.nav-ul li:first-child{
  display: flex;
  cursor: default;
} 
.nav-ul > button{
  display: none;
}

.outside-btn{
  display: flex;
}

  }


  @media screen and (min-width:1200px){
    /* Styling the main section */
main{
  display: flex;
  flex-direction: row;
  padding:0rem 3.8rem;
  margin-top: 1.5rem;
 
}
/* Styling the left section */

.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding:4.5rem  2rem;
}
  /* Styling the left-top-div */
  .left-top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align:left;
  }
  .left-top-div p{
    text-align: start;
  
  }


/* Styling the right-section and its image */
.right{
  width: 110%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.right img{
  width: 100%;
}


  }