/* importing Alkatra & Ubuntu font-family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* Applying default styles and ubuntu font-family to body tag */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* Styling the todoform & todo-itemsdiv container */
.todoDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.todoDiv h1{
    font-family: 'Alkatra', cursive;
}
/* Styling all the todo-form elements */
#todoForm label{
    font-size: 1.5rem;
  
}
#todoForm .todo-input{
    font-size: 1.11rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid grey;
    outline: 1px solid rgb(195, 192, 192);
    font-family: 'Ubuntu', sans-serif;
}
#todoForm button{
    padding: .4rem  .8rem;
    font-size: 1.11rem;
    border: none;
    border-radius: .5rem;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
/* Styling the container of all to-do-items */
.added-todos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
/* Styling the todo element */
.todo{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 214, 221);
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
}
/* Styling the readonly disabled and type-text input field cause it changes in an action */
.todo input[type="text"]:read-only:disabled{
    cursor:default;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
/* Styling the todo-content */
.todoContent{
    font-size: 1.3rem;
    width: 80%;
    background-color: rgb(255, 214, 221);
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
  
}
.todo .actionSpan{
    display: flex;
    font-size: 1.1rem;
    gap:12px;
}
/* Styling the edit-button and delete-button */
.editBtn,.deleteBtn{
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}
.editBtn{
    color: blueviolet;
}
.deleteBtn{
    color:red;
}