/* Styling the container of the paragraphs */
.paraContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* styling each p inside paraContainer  */
.paraContainer p{
    font-size: 1.11rem;
}