/* Importing the poppins font and applying */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* Styling the header portions */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 1rem 1rem 1rem 2rem;
}

/* Styling the plus-idon, cross-icon and left-arrow icon */
.plus-icon,
.cross-icon,
.left-arrow {
  font-size: 1.7rem;
  cursor: pointer;
}

/* Styling the homepage and its components */

.homepage {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  padding: 1rem;
}

.homepage > .card {
  width: 260px;
  height:425px;

  padding: 1.3rem;

  display: flex;
  flex-direction: column;
  gap: 0px;

  background-color: #fffefe;
}

.homepage > .card,
.read-blog {
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3.5px grey, -1px -1px 3.5px grey;
}
.title{
  cursor: pointer;
}
.homepage > .card > .title {
  font-size: 1.22rem;
  font-weight: 600;
}

.homepage > .card > img {
  width: 260px;
  height: 215px;
}

.homepage > .card > img,
.homepage > .card > button,
.header-part {
  border: none;
  border-radius: 0.5rem;
}

.homepage > .card > button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  background-color: #f9d6dc;
  color: #dc143c;
}



/* Styling the add-todo-modal and read-blog modal container */

.modal-container,
.read-blog-container {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0b0c80;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}


.modal-container-opened,
.read-blog-container-opened {
  visibility: visible;
  z-index: 10;
}

/* Styling the add-blog modal and its elements */
.modal {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #e6ecef;

  height: 400px;
  width: 450px;
  margin: 0 auto 2rem;
  padding: 2rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0.4rem;
}

.modal > form > input,
.modal > form > textarea {
  font-size: 1.1rem;

  width: 350px;
  outline: none;
  padding: 0.5rem 1rem;
}

.modal > form > textarea {
  resize: none;
}

.modal > form > button {
  cursor: pointer;
  font-size: 1rem;

  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.1rem;

  background-color: #8a2be2;
  color: #ffff;
}


/* Styling the read-blog modal and its components */

.read-blog-container {
  background: #fff;
  overflow-x:hidden;
 overflow-y: auto;

}

.read-blog-container > .blog-header {
  width: 88%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content:space-between;
  align-items: center;
}

.read-blog-container > .blog-header > h2 {
  font-size: 1.7rem;
}

.read-blog {
  
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  width: 95%;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  margin-top: 6rem;
  
}

.header-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

  background-color: #682be2;
  color: #fff;

  padding: 1rem 2rem;
}

.header-part-left {
  width: 500px;
}

.header-part-left > .title {
  font-size: 1.35rem;
  font-weight: 600;
}

.header-part-right > img {
  width: 300px;
  height: 215px;

  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.blog {
  padding: 0 1.3rem 1.2rem 1.3rem;
  font-size: 1.1rem;
}
.blog>.blog-body {
 width: 90vw;
}
