
.modal,.modal-2{
    position: absolute;
    width: 280px;
    height:300px;
    margin: -1.8rem 0 0 40rem;
    padding: 1rem;
    border: 1px solid purple;
    border-radius: .4rem;

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

  background-color: #FFF7FF;
  transform: translateY(-411px);
    transition: all 0.35s ease-in;

 
}


.modal-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 1rem 0.5rem;

    
   

   
}


.modal-form>button[type="submit"]{
    border: none;
    border-radius: .5rem;
    outline: none;

    background-color: #024e4d;
    color: #ffff;
}

.modal-form>input,.modal-form>select,.modal-form>label{

    font-size: 1rem;
}


.modal-form>input,.modal-form>select{
    width: fit-content;
    padding: .4rem;

}

.modal-form>select{
    cursor: pointer;
}



.modal>.cross-icon,.modal-2>.cross-icon{
    font-size: 1.4rem;
    transition: all .4s ease-in;
    cursor: pointer;
}


.modal>.cross-icon:hover,.modal-2>.cross-icon:hover{
    transform:scale(1.2);
}

.show{
    transform: translateY(0px);
}