/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* Manrope Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");

/* Some default styles */
* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f8fa;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0.6rem 2rem;

  background-color: #6663e9;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 1.55rem;

  font-size: 1.12rem;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #5a58d5;
}

/* Styling the hero-section */
.header-container {
  padding: 0.4rem 6rem;
  height: 125vh;

  z-index: -1;
  background-image: linear-gradient(#00000080, #00000080),
    url("./images/mainBackground.png");
  background-size: cover;
  color: #fff;
}

.navbar {
  padding: 0 8rem 1rem 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid white;
}
.logo {
  width: 120px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.nav-list li {
  padding:0.99rem 1rem .8rem 1rem;
  
  font-size: 1.11rem;
  cursor: pointer;
}
.nav-list li:hover{
  text-shadow: 1px 2px 4px grey;
 
}



/* Styling the Heading , paragraph and button container */
.heading-paragraph-container {
  padding: 4.5rem 3.5rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}
/* Styling the heading */
.heading-paragraph-container > .h1 {
  font-size: 4.5rem;
  font-weight: 500;
}
/* Styling the paragraph */
.heading-paragraph-container > p {
  font-size: 1.11rem;
}
.heading-paragraph-container > button {
  background-color: transparent;
  border: 1px solid white;
  font-weight: 600;
}
.heading-paragraph-container > button:hover {
  background-color: #6663e9;
  border: 1px solid transparent;
 
}

/* Styling the logo container */
.logo-container {
  padding: 5rem 6rem;
  margin: -6rem auto auto auto;
  width: 82vw;

  position: relative;
  z-index: 3;
  background-color: #ffffff;
  border: none;
  border-radius: 1.66rem;

  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.logo-container p{
  width: 200px;
  height: 50px;
}
.logo-container img {
  width: 155px;
  cursor: pointer;
  transition: width .3s ease-in;
}

.logo-container img:hover {
  width: 185px;
}


/* Styling the main container */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h2 {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 800;
}

/* Styling the Cards-container */
.cards-container {
  position: relative;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
/*Styling the card */
.cards-container .card {
  position: relative;
  width: 410px;
  height: 550px;
  text-align: center;
  transition: all 0.4s ease-in;
}

.cards-container .card:first-child,
.cards-container .card:nth-child(6),
.cards-container .card:nth-child(7) {
  margin-top: -2rem;
}
.cards-container .card:nth-child(3),
.cards-container .card:nth-child(4),
.cards-container .card:nth-child(9) {
  margin-top: 2rem;
}

/* Styling the card image */
.cards-container .card img {
  z-index: 0;
  width: 366px;
  height: 400px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.cards-container .card img:hover {
  width: 376px;
  height: 415px;
}
/* Styling the card details container */
.card-details-container {
  padding: 0.6rem 1.45rem;
  margin: -5rem auto auto auto;
  width: 281px;
  height: 100px;

  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: left;

  background-color: #fff;
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;

  transition: all 0.4s ease-in;
}

.card-details-container:hover {
  width: 285px;
  height: 105px;
}

/* Styling the div of only the title and price */
.card-details-container .details {
  padding: 0 0.3rem;
}

/* The title */
.card-details-container .details .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1rem;
}
/* The price */
.card-details-container .details .price {
  color: #6663e9;
  font-size: 1.3rem;
  font-weight: 600;
}
/* Styling the button of the card-details-container */
.card-details-container > button {
  padding: 0.9rem 2.2rem;

  font-size: 0.99rem;
  font-weight: 500;
}

/* Styling the Features section */
.features-section {
  margin-top: 6rem;
  padding: 6.5rem 6rem;

  display: flex;
  flex-direction: column;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

/* Styling the feature div */
.feature:first-child {
  position: relative;

  width: 100vw;

  display: flex;
  flex-direction: row;
  /* gap: 250px; */
  justify-content: space-between;
  align-items: center;
}
.feature:nth-child(2) {
  position: relative;
  width: 100vw;

  display: flex;
  flex-direction: row-reverse;
  /* gap: 550px; */
  justify-content: space-between;
  align-items: center;
}
/* Styling the Image of feature */
.feature .featureImg1 {
  position: absolute;
  top: -55px;
  left: 108px;

  width: 405px;
  height: 405px;
  border-radius: 51px;
}

.feature .featureImgBg1 {
  width: 560px;
}

.feature .featureImg2 {
  position: absolute;

  top: -60px;
  right: 132px;
  width: 405px;
  height: 400px;
  border-radius: 51px;
}

.feature .featureImgBg2 {
  width: 1000px;
  height: 450px;
}

/* Styling the div of title paragraph and button */
.feature .feature-details {
  padding: 0 9rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.feature:nth-child(2) .feature-details {
  padding: 0 4rem;
}

/* Styling the feature title */
.feature .feature-details .feature-title {
  font-size: 3.8rem;
  line-height: 5.5rem;
  font-weight: 600;
}

/* Styling the feature description */
.feature .feature-details .feature-detail-description {
  font-size: 1.11rem;
  line-height: 1.5rem;
  color: grey;
}

/* Styling the button */
.feature .feature-details > button {
  margin: 1.25rem 0 0 0;
  padding: 0.5rem 1.66rem;

  font-weight: 500;
}

/* Styling the newsletter section */
.newsletter {
  margin: 0 6rem 6rem 6rem;
  padding: 4.5rem 5.6rem;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  background-color: #6663e9;

  border: none;
  border-radius: 5rem;
}
.newsletter-section-heading {
  text-align: center;

  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 800;
  color: #fff;
}
.short-intro {
  width: 70%;
  text-align: center;

  font-size: 1.1rem;
  color: #fff;
}
/* Styling the div of the input field and button */
.input-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.input-button > button {
  padding: 1.1rem 2.4rem;

  border-radius: 3rem;

  background-color: #ffffff;
  color: #6663e9;

  font-size: 1.2rem;
  font-weight: 600;
}
.input-button > button:hover {
  background-color: #f1ecec;
}
/* Styling the div of the input field and an image */
.input {
  width: 400px;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: #5654d1;
}
.input label {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

input[type="email"] {
  padding: 0.6rem 1.4rem;

  border: none;
  outline: none;

  background: #5654d1;
  color: #fff;
  font-size: 1.11rem;
}
input[type="email"]::placeholder {
  color: #f4f2f2;
}

/* Styling the footer-container */
.footer-container {
  padding: 0 6rem 6rem 6rem;
  display: flex;
  justify-content: space-between;
}
/* Styling the left part of the footer */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-left .footer-logo {
  width: 150px;
}
.footer-left .social-links {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.footer-left .social-links a {
  width: 50px;
  height: 50px;
}
.footer-left .social-links a img {
  width: 45px;
}
.footer-left .social-links a img:hover {
  width: 49px;
}

.footer-left p {
  margin-top: -1px;

  font-size: 1.2rem;
  font-weight: 300;
}
/*Styling the right part of the footer */
.footer-right {
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-content: center;
  align-items: flex-start;
}

.footer-right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.footer-right ul span {
  font-size: 1.3rem;

  font-weight: 500;
}
.footer-right ul li {
  font-weight: 300;
}
.footer-right ul li a:hover {
  text-decoration: underline;
}
