/* Importing ubuntu fonts from google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* Adding default styles to the body and setting a bacj=kground color */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}
/* Styling the navbar */
.navbar {
  padding: 20px 40px;
  margin: 0;
  background-color: #580513;
  color: #ffffff;
  top: 0;
  position: sticky;
}

ul {
  display: flex;
}
li {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
/* Styling the progressbar div */
.barBg {
 position: fixed;
 width: 100%;
 height: 1vh;
}

.bar {
  width: 0;
  background-image: linear-gradient(to right, #47cece,#9090f4,#0000ff)
}
/* styling the main (container of the sections) */
main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Styling each section */
section{
  color:#ffffff;
  font-family: 'Ubuntu', sans-serif;
  border:1px solid #ffc0cb;
  min-height: 100vh;
  width: 97vw;
  display: grid;
  place-content: center;
}
/* styling the h1 tag inside each section */
section h1{
  font-size: 5rem;
}